/* style.css */
body{
    background-color: #0a192f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
div{
    font-family: 'Geomanist', sans-serif;
    font-weight: normal;
    color: white;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}